#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.read-the-docs {
  color: #888;
}



/* For the form  */

h2 {
  padding: 10px 15px 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
}


.form-container {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #007bff;
  border: none;
  cursor: pointer;
}
